.app {
  width: 100%;
  max-width: 540px;
  margin: 50px auto;
  background-color: rgb(255, 231, 235);
  border-radius: 20px;
}

.title {
  text-align: center;
  color: rgb(184, 151, 109);
  font-size: 32px;
  padding: 30px 0 20px;
}

.contents {
  background: #fff;
  padding: 40px 30px;
  border-radius: 20px;
  min-height: 70vh;
}

.list-title {
  font-size: 20px;
  margin-bottom: 15px;
}

.input-wrap {
  display: flex;
  gap: 10px;
  margin-bottom: 30px;
}

.input-add {
  padding: 12px 20px;
  border: none;
  border-radius: 10px;
  font-size: 16px;
  background: #fdfdfd;
  outline: none;
  flex: 1;
  box-shadow: inset 0 0 0 1px #ddd;
}

.input-add:focus {
  box-shadow: inset 0 0 0 2px #ddd;
  background: #f0f0f0;
}

.btn {
  padding: 12px 20px;
  background: rgb(255, 231, 235);
  color: rgb(184, 151, 109);
  border-radius: 10px;
  font-size: 16px;
  border: 1px solid rgb(255, 231, 235, 0.5);
  transition: 0.3s all ease;
}

.btn:hover {
  background: rgb(255, 207, 215);
}

.todo-list li {
  background: #fdfdfd;
  padding: 12px 20px;
  margin-bottom: 10px;
  border-radius: 10px;
  border: 1px solid #ddd;
  font-size: 16px;
  transition: 0.3s all ease;
  position: relative;
}

.todo-list li:hover {
  background-color: rgb(255, 238, 244);
  border-color: rgb(255, 198, 207);
}

.empty-list {
  text-align: center;
  color: #666;
  border: #666;
  font-size: 18px;
  padding: 20px;
}

.delete-btn {
  position: absolute;
  right: 10px;
  top: 50%;
  transform: translateY(-50%);
  border: none;
  color: #999;
  background-color: transparent;
  font-size: 18px;
}

.todo-list li:has(input:checked) {
  background: #DDD;
}

.filter-wrap {
  display: flex;
  gap: 10px;
  margin-bottom: 20px;
}

.filter-btn {
  padding: 7px 16px;
  background: #fff;
  border: 1px solid #ccc;
  border-radius: 20px;
  font-size: 14px;
}

.filter-btn.active {
  background: rgb(255, 231, 235);
  color: rgb(184, 151, 109);
  font-weight: 700;
  border-color: rgb(255, 231, 235);
}

.edit-btn {
  position: absolute;
  right: 30px;
  top: 50%;
  transform: translateY(-50%);
  border: none;
  color: #999;
  background-color: transparent;
  font-size: 15px;
}

.save-btn {
  position: absolute;
  right: 60px;
  top: 50%;
  transform: translateY(-50%);
  background: rgb(255, 198, 207);
  color: rgb(134, 111, 81);
  border: none;
  border-radius: 15px;
  padding: 3px 10px;
  font-size: 14px;
}

.cancel-btn {
  position: absolute;
  right: 10px;
  top: 50%;
  transform: translateY(-50%);
  background: #ddd;
  color: #999;
  border: none;
  border-radius: 15px;
  padding: 3px 10px;
  font-size: 14px;
}

.edit-input {
  width: calc(100% - 100px);
  padding: 6px 10px;
  border: 1px solid rgb(252, 147, 163);
  border-radius: 10px;
  font-size: 16px;
  outline: none;
}

.checkbox {
  margin-right: 10px;
}